*{
    margin: 10px;
    padding: 0px;

}
.container {
    width: 35%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    background-color: gray;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#height, #weight {
    height: 25px;
}

#btn{
    width: 150px;
    height: 35px;
    font-size: 25px;
    border-radius: 5px;
    border-style: none;
    background-color: green;
    color: #fff;
}

#results{
    text-align: center;
    font-size: 25px;
    height: 15vh;
    width: 70%;
    color: green;
}

#weight-guide{
    display: flex;
    flex-direction: column;
    align-items: center;
}